@model Instrumentos.Models.Tipo
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Tipo</h2>
@using (Html.BeginForm())
{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success">
            @TempData["msg"]
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}


